@model Salud.Models.TB_Especialidad

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TB_Especialidad</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codactiv)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codactiv)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codusuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codusuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.denominacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.denominacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
