@model Salud.Models.TB_Servicio

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TB_Servicio</legend>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.codusuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codusuario)
            @Html.ValidationMessageFor(model => model.codusuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.padre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.padre)
            @Html.ValidationMessageFor(model => model.padre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.denominacion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.denominacion)
            @Html.ValidationMessageFor(model => model.denominacion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.servinst)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.servinst)
            @Html.ValidationMessageFor(model => model.servinst)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.instexte)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.instexte)
            @Html.ValidationMessageFor(model => model.instexte)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lugar)
            @Html.ValidationMessageFor(model => model.lugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activo)
            @Html.ValidationMessageFor(model => model.activo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
